[submodule "terminusdb"]
	path = terminusdb
	url = rad://z2hgxYo89dJ8bYccoDsYXCBjb7u5w

[submodule "compiler"]
	path = compiler
	url = rad://z3sfmm9VKr4v6NoZLo3ttSpHy1TgV

[submodule "ir"]
	path = ir
	url = rad://z6CDMGDrttB6hJeoSn6gwNcTAQT6
